.index {
    align-items: center;
    justify-content: center; 
    width: 100%;
    height: 100%;
    background-color:whitesmoke;
    border: rgb(51, 51, 51) solid 2px; 
    border-radius: 15px;
}

.logo {
    width: 15%;
    height: 15%;
}

.footer{
    align-items: top;
    justify-content: center; 
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 3s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#body-row {
    margin-left:0;
    margin-right:0;
}
#sidebar-container { 
    min-height: 525px;  
    background-color: #333;
    height: 300px;
    position: sticky;
    display: block;
}


.sticky-offset {
    top: 56px;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
    width: 220px;
}
.sidebar-collapsed {
    width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
    height: 50px;
    color: white;    
}


/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}
.sidebar-submenu {
    font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
    background-color: #333;
    height: 35px;
}
.sidebar-separator {
    background-color: #333;
    height: 25px;
}
.logo-separator {
    background-color: #333;    
    height: 60px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}