<footer class="mx-auto text-center fade-in align-self-center">
    <div class="card col-md-12 bg-ligth container"  style="border-radius: 15px; border: 1px solid #000000; bottom: 0px; font-size:0.7rem;">
        <div>
            <h4>GerMath.JS</h4>
            <h5 class="mx-auto">Universidad de la Amazonia - 2020</h5>
            <small>Copyright &copy; www.github.com/GermanCode</small>
        </div> 
    </div>
</footer>