<div class=" index container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>SignIn</h3>
                </div>
                <div class="card-body">
                    <img src="/img/LogoSimple.jpg" alt="GerMath.JS Logo" class="card-img-top mx-auto m-2 rounded-circle w-50">
                    <form action="/signin" method="POST">
                    <div class="form-group">
                        <input type="text" name="Identificacion" id="Identificacion" placeholder="Username" class="form-control">
                    </div>
                    <div class="form-goup">
                        <input type="password" id="password" name="password" class="form-control" placeholder="Password">
                    </div>
                    
                    <div class="form-group"></div>

                    <div class="form-goup">
                        <button class="btn btn-primary btn-block">
                            Sign In
                        </button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>